<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <DeviceList>
    <Device>
      <name>TV1</name>
      <location>boroombig</location>
      <ipAddress>172.16.1.90</ipAddress>
      <macAddress>64-95-6C-D6-14-4E</macAddress>
      <deviceType>Television</deviceType>
      <enabled>true</enabled>
      <htmlId>boRoomBig</htmlId>
    </Device>
    <Device>
      <name>TV2</name>
      <location>boroombig</location>
      <ipAddress>172.16.1.61</ipAddress>
      <macAddress>64-95-6C-D6-14-AC</macAddress>
      <deviceType>Television</deviceType>
      <enabled>true</enabled>
      <htmlId>boRoomBig</htmlId>
    </Device>
    <Device>
      <name>TV</name>
      <location>boroomsmall</location>
      <ipAddress>172.16.1.57</ipAddress>
      <macAddress>64-95-6C-DB-35-F3</macAddress>
      <deviceType>Television</deviceType>
      <enabled>true</enabled>
      <htmlId>boRoomSmall</htmlId>
    </Device>
    <Device>
      <name>TV</name>
      <location>adminconf1</location>
      <ipAddress>172.16.106.??</ipAddress>
      <macAddress></macAddress>
      <deviceType>Television</deviceType>
      <enabled>false</enabled>
      <htmlId>adminConfA</htmlId>
    </Device>
    <Device>
      <name>TV</name>
      <location>adminconf2</location>
      <ipAddress>172.16.106.??</ipAddress>
      <macAddress></macAddress>
      <deviceType>Television</deviceType>
      <enabled>false</enabled>
      <htmlId>adminConfB</htmlId>
    </Device>
    <Device>
      <name>TV</name>
      <location>researchroom</location>
      <ipAddress>172.16.106.??</ipAddress>
      <macAddress></macAddress>
      <deviceType>Television</deviceType>
      <enabled>false</enabled>
      <htmlId>Research</htmlId>
    </Device>
  </DeviceList>
  <serverAddress>172.16.0.233</serverAddress>
  <serverPort>8680</serverPort>
  <certLocation></certLocation>
  <certPassword></certPassword>
  <useSSL>false</useSSL>
</Settings>